{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.html", "*.component.html"],
      "options": {
        "parser": "angular",
        "printWidth": 80,
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["frontend/**/*.ts"],
      "options": {
        "printWidth": 100,
        "parser": "typescript",
        "singleAttributePerLine": true,
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true
      }
    },
    {
      "files": ["backend/**/*.ts"],
      "options": {
        "printWidth": 100,
        "parser": "typescript",
        "singleAttributePerLine": false,
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true,
        "arrayBracketSpacing": false,
        "bracketSpacing": true,
        "trailingComma": "none"
      }
    }
  ]
}
