# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.*
!.env.example

# Build
dist
build

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Logs
logs
*.log

# Tests
coverage
.nyc_output

# Media files
*.mp4
*.gif
uploads/ 